<% layout('layouts/boilerplate') -%>


    <!-- Banner Slider -->
    <div class="container-fluid" style="max-width:2000px; height:fit-content; padding:0px;">
      <div class="col-lg-12 col-md-12 back-g">

        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner" style="height: fit-content; overflow:hidden;">
            <div class="carousel-item active " style="background: rgb(214,250,126);
background: linear-gradient(88deg, rgb(225 255 150) 0%, rgb(248 255 215) 35%, rgba(252, 252, 252, 1) 100%); ">
              <div class="row px-3 overflow-hidden flex-nowrap">
              <div class="col-lg-6 text w-40"  data-aos="zoom-in-left"
              data-aos-offset="300"
              data-aos-easing="ease-in-sine" data-aos-duration="1500">
                <h1 style="color: rgb(27, 27, 27); text-transform:uppercase;">Shop till You Drop</h1>
                <div class="line" style="width: 450px; height:3px; margin:3px; background-color:#dc3545"></div>
                  <div class="line-black" style="width: 400px; height:3px; margin:3px; background-color:#2b2a2a"></div>
                <p style="color: #4a4849; font-size:1.3rem; margin-top:1.3rem;">Don't wait! Just Go for it</p>
                <a href="/product/all" class="btn btn-primary px-3" style="background-color: #dc3545; border:none; border-radius:0px;">Shop Now</a>
              </div>
              <div class="imgSlide col-lg-6 mt-5" data-aos="zoom-in-up" data-aos-duration="1500">
                <img src="/img/brocoli-bgremove.png" class="d-block w-75" alt="..." style="filter:drop-shadow(2px 4px 6px #7b7b7b);">
              </div>
            </div>
            </div>

            <div class="carousel-item " style="background: rgb(214,250,126);
background: linear-gradient(88deg, rgb(243 223 68) 0%, rgb(255 254 192) 35%, rgba(252, 252, 252, 1) 100%) ">
              <div class="row px-3 overflow-hidden flex-nowrap">
              <div class="col-lg-6 text w-40"  data-aos="zoom-in-left"
              data-aos-offset="300"
              data-aos-easing="ease-in-sine"  data-aos-duration="500">
                <h1 style="color: rgb(27, 27, 27); text-transform:uppercase;">Shop till You Drop</h1>
                <div class="line" style="width: 450px; height:3px; margin:3px; background-color:#dc3545"></div>
                  <div class="line-black" style="width: 400px; height:3px; margin:3px; background-color:#2b2a2a"></div>
                <p style="color: #4a4849; font-size:1.3rem; margin-top:1.3rem;">Don't wait! Just Go for it</p>
                <a href="/product/all" class="btn btn-primary px-3" style="background-color: #dc3545; border:none; border-radius:0px;">Shop Now</a>
              </div>
              <div class="imgSlide col-lg-6 " data-aos="zoom-in-up"  data-aos-duration="500">
                <img src="/img/banana.png" class="d-block w-75 mt-5" alt="..." style="filter:drop-shadow(2px 4px 6px #7b7b7b);">
              </div>
            </div>
            </div>
             
            <div class="carousel-item " style="background: rgb(214,250,126);
            background: linear-gradient(88deg, rgb(255 211 157) 0%, rgb(255 245 215) 35%, rgba(252, 252, 252, 1) 100%); ">
                          <div class="row px-3 overflow-hidden flex-nowrap">
                          <div class="col-lg-6 text w-40"  data-aos="fade-right"
                          data-aos-offset="300"
                          data-aos-easing="ease-in-sine"  data-aos-duration="500">
                            <h1 style="color: rgb(27, 27, 27); text-transform:uppercase;">Shop till You Drop</h1>
                            <div class="line" style="width: 450px; height:3px; margin:3px; background-color:#dc3545"></div>
                              <div class="line-black" style="width: 400px; height:3px; margin:3px; background-color:#2b2a2a"></div>
                            <p style="color: #4a4849; font-size:1.3rem; margin-top:1.3rem;">Don't wait! Just Go for it</p>
                            <a href="/product/all" class="btn btn-primary px-3" style="background-color: #dc3545; border:none; border-radius:0px;">Shop Now</a>
                          </div>
                          <div class="imgSlide col-lg-6 " data-aos="zoom-in-up" data-aos-duration="500">
                            <img src="/img/rice.png" class="d-block w-75 mt-5" alt="..." style="filter:drop-shadow(2px 4px 6px #7b7b7b);">
                          </div>
                        </div>
                        </div>

                        <div class="carousel-item " style="background: rgb(214,250,126);
                        background: linear-gradient(88deg, rgb(225 255 150) 0%, rgb(248 255 215) 35%, rgba(252, 252, 252, 1) 100%); ">
                                      <div class="row px-3 overflow-hidden flex-nowrap">
                                      <div class="col-lg-6 text w-40"  data-aos="fade-right"
                                      data-aos-offset="300"
                                      data-aos-easing="ease-in-sine"  data-aos-duration="500">
                                        <h1 style="color: rgb(27, 27, 27); text-transform:uppercase;">Shop till You Drop</h1>
                                        <div class="line" style="width: 450px; height:3px; margin:3px; background-color:#dc3545"></div>
                                          <div class="line-black" style="width: 400px; height:3px; margin:3px; background-color:#2b2a2a"></div>
                                        <p style="color: #4a4849; font-size:1.3rem; margin-top:1.3rem;">Don't wait! Just Go for it</p>
                                        <a href="/product/all" class="btn btn-primary px-3" style="background-color: #dc3545; border:none; border-radius:0px;">Shop Now</a>
                                      </div>
                                      <div class="imgSlide col-lg-6 " data-aos="zoom-in-up" data-aos-duration="500">
                                        <img src="/img/veggieBasket.png" class="d-block w-75 mt-5" alt="..." style="filter:drop-shadow(2px 4px 6px #7b7b7b);">
                                      </div>
                                    </div>
                                    </div>


                                    <div class="carousel-item " style="background: rgb(214,250,126);
                                    background: linear-gradient(88deg, rgb(255 129 129) 0%, rgb(251 210 210) 35%, rgba(252, 252, 252, 1) 100%); ">
                                                  <div class="row px-3 overflow-hidden flex-nowrap">
                                                  <div class="col-lg-6 text w-40"  data-aos="fade-right"
                                                  data-aos-offset="300"
                                                  data-aos-easing="ease-in-sine"  data-aos-duration="500">
                                                    <h1 style="color: rgb(27, 27, 27); text-transform:uppercase;">Shop till You Drop</h1>
                                                    <div class="line" style="width: 450px; height:3px; margin:3px; background-color:#dc3545"></div>
                                                      <div class="line-black" style="width: 400px; height:3px; margin:3px; background-color:#2b2a2a"></div>
                                                    <p style="color: #4a4849; font-size:1.3rem; margin-top:1.3rem;">Don't wait! Just Go for it</p>
                                                    <a href="/product/all" class="btn btn-primary px-3" style="background-color: #dc3545; border:none; border-radius:0px;">Shop Now</a>
                                                  </div>
                                                  <div class="imgSlide col-lg-6 " data-aos="zoom-in-up" data-aos-duration="500">
                                                    <img src="/img/watermellon.png" class="d-block w-75 mt-5" alt="..." style="filter:drop-shadow(2px 4px 6px #7b7b7b);">
                                                  </div>
                                                </div>
                                                </div>
                                                <div class="carousel-item " style="background: rgb(214,250,126);
                                                background: linear-gradient(88deg, rgb(225 255 150) 0%, rgb(248 255 215) 35%, rgba(252, 252, 252, 1) 100%); ">
                                                              <div class="row px-3 overflow-hidden flex-nowrap">
                                                              <div class="col-lg-6 text w-40"  data-aos="fade-right"
                                                              data-aos-offset="300"
                                                              data-aos-easing="ease-in-sine"  data-aos-duration="500">
                                                                <h1 style="color: rgb(27, 27, 27); text-transform:uppercase;">Shop till You Drop</h1>
                                                                <div class="line" style="width: 450px; height:3px; margin:3px; background-color:#dc3545"></div>
                                                                  <div class="line-black" style="width: 400px; height:3px; margin:3px; background-color:#2b2a2a"></div>
                                                                <p style="color: #4a4849; font-size:1.3rem; margin-top:1.3rem;">Don't wait! Just Go for it</p>
                                                                <a href="/product/all" class="btn btn-primary px-3" style="background-color: #dc3545; border:none; border-radius:0px;">Shop Now</a>
                                                              </div>
                                                              <div class="imgSlide col-lg-6 " data-aos="zoom-in-up" data-aos-duration="500">
                                                                <img src="/img/masala.png" class="d-block w-75 mt-5" alt="..." style="filter:drop-shadow(2px 4px 6px #7b7b7b);">
                                                              </div>
                                                            </div>
                                                            </div>

          </div>
          <button class="carousel-control-prev btns" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: #67a617;"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next btns" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: #67a617;"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
  </div> 

<!-- Product Sections -->
<section class="pt-5 pb-5">
  <div class="container">
      <div class="row">
          <!-- <div class="col-6">
              <h3 class="mb-3" style="color: #dc3545;">Products </h3>
          </div>
          <div class="col-6 text-right">
              <a class="btn btn-outline-danger mb-3 mr-1 arrow" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                  <i class="fa fa-arrow-left"></i>
              </a>
              <a class="btn btn-outline-danger mb-3 arrow" href="#carouselExampleIndicators2" role="button" data-slide="next">
                  <i class="fa fa-arrow-right"></i>
              </a>
          </div> -->
          <div class="col-12 d-flex">
              <!-- <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel"> -->

                  <!-- <div class="carousel-inner">
                      <div class="carousel-item active"> -->
                        <div class="row">
                      <% if (products) { %>
                       <% for( let index = 0; index <=2; index++ ) { %>
                          
               

                            <div class="col-md-4 mb-3">
                                <div class="card">
                                  <div class="p-img" style="width:25rem; overflow:hidden; height:
                                  20rem">
                                  <a href="/product/all">
                                    <img class="img-fluid" alt="100%x280" src="<%= products[index].image[0].url %>" style="width: 100%;">
                                  </a>
                                   
                                  </div>
                                    
                                    <div class="card-body">
                                      <div class="d-flex justify-content-between">
                                        <p class="small"><a href="#!" class="text-muted"><%=products[index].name %></a></p>
                                        <p class="small text-danger"><s><%=products[index].price %></s></p>
                                      </div>

                                      <div class="d-flex justify-content-between mb-3">
                                        <h5 class="mb-0"><%=products[index].category %></h5>
                                        <h5 class="text-dark mb-0">Rs.<%=products[index].price %></h5>
                                      </div>

                                      <div class="d-flex justify-content-between mb-2">
                                        <p class="text-muted mb-0">Available: <span class="fw-bold">6</span></p>
                                        <div class="ms-auto text-warning">
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                        </div>
                                      </div>
                                    </div>

                                </div>
                            </div>
                            
                            <% } %>
                      <% } %>
                        
                        <!-- </div>
                       
                          
                      </div> -->
                      
                  </div>
            
  </div>
</section>
<!-- first order discout section   -->
<section class="container mb-4 rounded-3 fst-order-banner">
  <div class="fst-order-banner-content">
    <h1 class="fst-order-banner-heading"><b>Get <span>25% Discount</span> on Your First Purchase</b></h1>
    <p class="fst-order-banner-text">Sign up today and start saving! Enjoy exclusive offers and discounts on your favorite products.</p>
  </div>
</section>
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div
          class="section-header d-flex flex-wrap justify-content-between mb-5"
        >
          <h2 class="section-title" style="margin-bottom: 0px;">Newly Arrived Products</h2>
        </div>
      </div>
    </div>
    <div class="row product-grid">
      <div class="col-md-3">
        <div class="card mb-3 p-3 rounded-4 shadow border-0 new-arr-product">
          <div class="row g-0">
            <div class="col-md-12">
              <img
                src="/img/ice_cream.jpg"
                class="img-fluid rounded"
                alt="Card title"
              />
            </div>
            <div class="col-md-12">
              <div class="card-body py-0">
                <p class="text-muted mb-0 mt-2">Ice Cream</p>
                <a href="#" style="text-decoration: none;"><h5 class="card-title">
                  Scoop into happiness—where every bite is a blissful chill!
                </h5></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-3 p-3 rounded-4 shadow border-0 new-arr-product">
          <div class="row g-0">
            <div class="col-md-12">
              <img
                src="/img/orange-juice.jpg"
                class="img-fluid rounded"
                alt="Card title"
              />
            </div>
            <div class="col-md-12">
              <div class="card-body py-0">
                <p class="text-muted mb-0 mt-2">Orange Juice</p>
                <a href="#" style="text-decoration: none;"><h5 class="card-title">
                  Freshly squeezed sunshine—start your day the citrus way!
                </h5></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-3 p-3 rounded-4 shadow border-0 new-arr-product">
          <div class="row g-0">
            <div class="col-md-12">
              <img
                src="/img/chicken-eggs.jpg"
                class="img-fluid rounded"
                alt="Card title"
              />
            </div>
            <div class="col-md-12">
              <div class="card-body py-0">
                <p class="text-muted mb-0 mt-2">Chicken Eggs</p>
                <a href="#" style="text-decoration: none;"><h5 class="card-title">
                  Crack open farm-fresh goodness, every single time!
                </h5></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-3 p-3 rounded-4 shadow border-0 new-arr-product">
          <div class="row g-0">
            <div class="col-md-12">
              <img
                src="/img/cupcakes-with-coldcoffee.jpg"
                class="img-fluid rounded"
                alt="Card title"
              />
            </div>
            <div class="col-md-12">
              <div class="card-body py-0">
                <p class="text-muted mb-0 mt-2">Cold Coffee & Cupcake Combo</p>
                <a href="#" style="text-decoration: none;"><h5 class="card-title">
                  Sip, savor, and smile—your perfect snack-time duo awaits!
                </h5></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-3 p-3 rounded-4 shadow border-0 new-arr-product">
          <div class="row g-0">
            <div class="col-md-12">
              <img
                src="/img/honey-jar.jpg"
                class="img-fluid rounded"
                alt="Card title"
              />
            </div>
            <div class="col-md-12">
              <div class="card-body py-0">
                <p class="text-muted mb-0 mt-2">Honey</p>
                <a href="#" style="text-decoration: none;"><h5 class="card-title">
                  Golden nectar of nature—sweeten your world naturally!
                </h5></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-3 p-3 rounded-4 shadow border-0 new-arr-product">
          <div class="row g-0">
            <div class="col-md-12">
              <img
                src="/img/chocolate-chip-cookies.jpg"
                class="img-fluid rounded"
                alt="Card title"
              />
            </div>
            <div class="col-md-12">
              <div class="card-body py-0">
                <p class="text-muted mb-0 mt-2">Choco Chip Cookies</p>
                <a href="#" style="text-decoration: none;"><h5 class="card-title">
                  Crunchy bites, gooey delights—cookies that melt your heart!
                </h5></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-3 p-3 rounded-4 shadow border-0 new-arr-product">
          <div class="row g-0">
            <div class="col-md-12">
              <img
                src="/img/cheese.jpg"
                class="img-fluid rounded"
                alt="Card title"
              />
            </div>
            <div class="col-md-12">
              <div class="card-body py-0">
                <p class="text-muted mb-0 mt-2">Cheese</p>
                <a href="#" style="text-decoration: none;"><h5 class="card-title">
                  Creamy, dreamy, cheesy perfection for every occasion!
                </h5></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-3 p-3 rounded-4 shadow border-0 new-arr-product">
          <div class="row g-0">
            <div class="col-md-12">
              <img
                src="/img/bread-slices.jpg"
                class="img-fluid rounded"
                alt="Card title"
              />
            </div>
            <div class="col-md-12">
              <div class="card-body py-0">
                <p class="text-muted mb-0 mt-2">Brown Bread</p>
                <a href="#" style="text-decoration: none;"><h5 class="card-title">
                  Wholesome slices of health—freshly baked for you!
                </h5></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Offer Section -->

<div class="container py-4">
  <div class="d-flex align-items-center mb-4">

      <h4><span class="badge text-white px-2 py-1 offers-badge">Offers</span></h4>
      <h1 class="h4 ml-2 best-values-text">Best Values</h1>
  </div>
  <div class="row">
      <div class="col-md-4 mb-4 main-container">
          <a href="/product/all">
          <div class="bg-daily-essentials text-center p-4 shadow-sm d-flex flex-column justify-content-center">
              <h2 class="h5 font-weight-bold">Daily Essentials</h2>
              <p class="small">MINIMUM 20% OF EVERYDAY</p>
              
          </div>
        </a>
      </div>
      <div class="col-md-4 mb-4 main-container">
          <div class="bg-get-up-to text-center p-4 shadow-sm d-flex flex-column justify-content-center">
              <h2 class="h5 font-weight-bold">GET UP TO 30% OFF</h2>
              <a href="product/all"><button class="btn text-white mt-4 shop-now-btn">SHOP NOW</button></a>
              
          </div>
      </div>
      <div class="col-md-4 mb-4 main-container">
          <div class="bg-special-discount text-center p-4 shadow-sm d-flex flex-column justify-content-center">
              <h2 class="h5 font-weight-bold">Special Discount for All Items</h2>
              <a href="/product/all"><button class="btn text-white mt-4 shop-now-btn">SHOP NOW</button></a>
              <p class="mt-4">Check out the discounts, NOW!</p>
              
          </div>
      </div>
  </div>
  <div class="bg-cashback text-center p-4 shadow-sm">
      <h2 class="h5 font-weight-bold mt-4">Get Rs. 99 Cashback! Min Order of Rs. 399</h2>
      <p class="small mt-2">USE CODE: URBANHARVEST20</p>
  </div>
</div>
<br><br>
    
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>

